<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>the header</title>
</head>
<body>
	<div data-th-fragment="header">
		<a href="#" data-th-href="@{/}">Filmothèque</a>
		<a href="#" data-th-href="@{/}">Films</a>
		<a href="#" data-th-href="@{/addfilm}">Nouveau film</a>
		<a href="#" data-th-href="@{/addPerson}">Ajout personne</a>
		<div sec:authorize="!isAuthenticated()">
			<a href="#" data-th-href="@{/login}">Connexion</a>
		</div>
		<div sec:authorize="isAuthenticated()">
			<a href="#" data-th-href="@{/login?logout}">Déconnexion</a>
		</div>
	</div>
</body>
</html>

