<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Page de connexion</title>
</head>
<body>
	<h1>Connectez-vous</h1>
	
		<form th:action="@{/connecte}" th:object=${user} method="post">
		
		<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
		<p th:text="#{index.erreurs}">Message d'erreur</p></div>
				
		<label>Pseudo</label>
		<input type="text" id="pseudo" name="pseudo" th:field="*{pseudo}"/>
		<span th:if="${#fields.hasErrors('firstName')}">
			<ul><li th:each="erreur: ${#fields.errors('pseudo')}" th:text="${erreur}"></li></ul>
		</span>
		
		<label>Email</label>
		<input type="text" id="email"  th:field="*{email}"/>
		<span th:if="${#fields.hasErrors('email')}">
			<ul><li th:each="erreur: ${#fields.errors('email')}" th:text="${erreur}"></li></ul>
		</span>
		
		<label>Password</label>
		<input type="text" id="password"  th:field="*{password}"/>
		<span th:if="${#fields.hasErrors('password')}">
			<ul><li th:each="erreur: ${#fields.errors('password')}" th:text="${erreur}"></li></ul>
		</span>

		<br><br><br><br><br>	
		<ul th:each="user: ${liste}">
			<li th:text="${user.firstName} + ' ' + ${user.lastName}" ></li>
		</ul>	
		
		<input type="submit">		
	</form>
	
</body>
</html>