<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ENI movies</title>
</head>
<body>

	<header data-th-fragment="_header"></header>
	
	<h1>Les films de l'ENI</h1>
		
	<label>Genre : </label>
	<input type="text" id="genre"  name="genre" disabled>
	<label>Année : </label>
	<input type="text" id="annee"  name="annee" disabled>
	<label>Titre : </label>
	<input type="text" id="titre"  name="titre" disabled>
	<label>Réalisateur : </label>
	<input type="text" id="realisateur"  name="realisateur" disabled>
	<label>Durée : </label>
	<input type="text" id="duree"  name="duree" disabled>
	<label>Acteur(s) : </label>
	<textarea id="duree"  name="duree" disabled></textarea>

</body>
</html>