<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ENI movies</title>
</head>
<body>

	<header data-th-insert="fragments/header :: header"></header>

	
	<h1>Les films de l'ENI</h1>
		
	<label>Genre : </label>
	<input type="text" id="genre"  name="genre" disabled data-th-attr="value=${movie.genre.name}"><br>
	
	<label>Année : </label>
	<input type="text" id="annee"  name="annee" disabled data-th-attr="value=${movie.releaseYear}"><br>
	
	<label>Titre : </label>
	<input type="text" id="titre"  name="titre" disabled data-th-attr="value=${movie.title}"><br>
	
	<label>Réalisateur : </label>
	<input type="text" id="realisateur"  name="realisateur" disabled data-th-attr="value=${movie.director.firstName}"><br>
	
	<label>Durée : </label>
	<input type="text" id="duree"  name="duree" disabled data-th-attr="value=${movie.duration}"><br>
	
	<label>Acteur(s) : </label>
	<ul th:each="actor: ${movie.actors}">
		<li th:text="${actor.firstName}"/>
	</ul>

	<label>Commentaires(s) :  </label>
	
	<ul th:each="review: ${movie.reviews}">
	<!-- <span th:text="${review.user.pseudo} + ' note : ' + ${review.rating} + '/5'"></span>-->		
	<span th:text="' note : ' + ${review.rating} + '/5'"></span>
		<li th:text="${review.comment}"/>		
	</ul>
	
</body>
</html>